body {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Bebas Neue', cursive;
}

section {
  padding: 20vh 0;
}

.logoBody {
  font-size: 1.2em;
  font-family: 'Lobster', cursive;
}

.logoHalfBody {
  font-size: .8em;
  font-family: 'Bebas Neue', cursive;
}

.logoFooter {
  font-family: 'Lobster', cursive;
}

.logoFooterHalf {
  font-family: 'Bebas Neue', cursive;
}

.twoText {
  font-size: 1.7em;
  color: white;
}

h1 {
  font-family: 'Sedgwick Ave', cursive;
  color: #00acee;
}

h3 {
  color: #00acee;
}

.subHeading {
  font-size: 1.2em;
  font-family: Helvetica Neue;
  color: #00acee;
}

.hspan {
  font-family: 'Sedgwick Ave', cursive;
  color: #00acee;
}

.pthree {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 1em;
}

.one {
  background: white;
  position: relative;
  padding: 25vh 0;
}

.two {
  padding: 10vh 0;
  background: #00acee;
  position: relative;
  margin-bottom: -10vw;
  z-index: 10;
}

.three {
  background: white;
  position: relative;
}

.one:after,
.one:before {
  position: absolute;
  content: '';
  width: 150px;
  height: 27px;
  background: white;
  bottom: 0;
}

.one:after {
  left: 50%;
  transform: skew(0, -20deg);
  z-index: 100;
}

.one:before {
  right: 50%;
  transform: skew(0, 20deg);
  z-index: 100;
}

.gitLink {
  color: black;
  text-decoration: underline;
  font-size: 40px;
}

.gitLink:hover {
  color: white;
  background: #00acee;
}

footer {
  background: #00acee;
}

/*hashtag animation*/
.hashtagAnimation p {
  width:20%;
  font-size: 60px;
  color:#00acee;
  font-weight: bold;
  animation: hashtagz 7s linear infinite;

}
.hashtagAnimation {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}
@keyframes hashtagz{
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{

    opacity: 1;
  }
  70%{

    opacity: 1;
  }
  100%{
    transform: translateY(-80vh);
    opacity: 0;
  }
  50% {transform: rotate(180deg);}

}
.hashtagAnimation p:nth-child(1){
  animation-delay: 1s;
}
.hashtagAnimation p:nth-child(2){
  animation-delay: 6s;
}
.hashtagAnimation p:nth-child(3){
  animation-delay: 5s;
}
.hashtagAnimation p:nth-child(4){
  animation-delay: 120s;
  opacity:0;
}
.hashtagAnimation p:nth-child(5){
  animation-delay: 3s;
}
.hashtagAnimation p:nth-child(6){
  animation-delay: 2.5s;
}
.hashtagAnimation p:nth-child(7){
  animation-delay: 7s;
}

.wblock {
  background: white;
}
/*Mobile Version*/
@media only screen and (max-width: 999px) {
  .one {
    padding: 15vh 0;
  }
}
